<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.caipiao.no30614">
   
<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETfWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <permission android:name="com.caipiao.no30614.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.caipiao.no30614.permission.JPUSH_MESSAGE"/>
   <application android:allowBackup="true" android:icon="@drawable/appicon" android:label="@string/app_name" android:name="com.cai88.tools.shishicai.SscApplication" android:theme="@style/ThemeActivity">
        <activity android:alwaysRetainTaskState="true" android:label="@string/app_name" android:name="com.cai88.tools.shishicai.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<activity android:exported="false" android:name="com.cai88.tools.shishicai.OfficalNetActivity" android:screenOrientation="portrait"/>
		<activity android:exported="false" android:name="com.cai88.tools.shishicai.MainActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.shishicai.BrowserActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.chart.TrendChartsShiShiCaiActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.shishicai.ChanglongActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.shishicai.LotteryOpenActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.shishicai.MoreActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.cai88.tools.shishicai.WanfaHelpActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5631cf8ce0f55ad785000943"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="cid756"/>
        <activity android:name="com.umeng.fb.ConversationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.umeng.fb.ContactActivity" android:screenOrientation="portrait"/>
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService"/>
    			<activity android:name="com.umeng.update.UpdateDialogActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
            <activity android:exported="false" android:name="cn.jpush.android.ui.PopWinActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.caipiao.no30614"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushService" android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.DaemonService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.caipiao.no30614"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushReceiver">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="com.caipiao.no30614"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="cn.jpush.android.service.AlarmReceiver"/>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="00bf46ef40f5a181eed48236"/>
	
	
	
	</application>

</manifest>